<div class="ant-col-4 _2v5v5">
    <div class="_3zibT"><a href="https://www.jianshu.com">回首页</a></div>
    <div class="_1iZMb">
        <div class="_33Zlg"><i class="fa fa-plus"></i><span>新建文集</span></div>
        <div class="_2G97m">
            <form class="M8J6Q _1mU5v"><input type="text" placeholder="请输入文集名..." name="name" class="_1CtV4"><button
                    type="submit" class="dwU8Q _3zXcJ _3QfkW"><span>提 交</span></button><button type="button" class="vIzwB _3zXcJ"><span>取
                        消</span></button></form>
        </div>
    </div>
    <ul class="_3MbJ4 _3t059">
        <li class="_3DM7w _31PCv" title="33">
            <div class="_3P4JX _2VLy-"><i class="fa fa-gear"></i><span>
                    <ul class="_2V8zt _3FcHm _2w9pn">
                        <li class="_2po2r cRfUr" title=""><span class=""><i class="fa fa-pencil-square-o _22XWG"></i>修改文集</span></li>
                        <li class="_2po2r cRfUr" title=""><span class=""><i class="fa fa-trash-o _22XWG"></i>删除文集</span></li>
                    </ul>
                </span></div><span>33</span>
        </li>
        <li class="_3DM7w" title="22"><span>22</span></li>
        <li class="_3DM7w" title="11"><span>11</span></li>
        <li class="_3DM7w" title="123123"><span>123123</span></li>
        <li class="_3DM7w" title="日记本"><span>日记本</span></li>
        <li class="_3DM7w" title="随笔"><span>随笔</span></li>
        <li class="_3DM7w" title="opencv"><span>opencv</span></li>
        <li class="_3DM7w" title="therecipe/qt"><span>therecipe/qt</span></li>
        <li class="_3DM7w" title="eric6源码解读"><span>eric6源码解读</span></li>
        <li class="_3DM7w" title="数据库学习"><span>数据库学习</span></li>
        <li class="_3DM7w" title="eric6编辑器使用技巧"><span>eric6编辑器使用技巧</span></li>
        <li class="_3DM7w" title="Pyqt5常见问题小结"><span>Pyqt5常见问题小结</span></li>
        <li class="_3DM7w" title="机电系毕设"><span>机电系毕设</span></li>
        <li class="_3DM7w" title="SIP混编(python调用QT库)"><span>SIP混编(python调用QT库)</span></li>
        <li class="_3DM7w" title="PyQt5"><span>PyQt5</span></li>
    </ul>
    <div role="button" class="ant-col-4 h-5Am">
        <span class="ant-dropdown-trigger">
            <i class="fa fa-bars"></i><span>设置</span>
        </span>
        <span class="Yv5Zx">遇到问题<i class="fa fa-question-circle-o"></i></span>
    </div>
</div>